/******************************/
/* GENERAL */
/* HEADER */
/* MAIN */
/* COMMENT SECTION */
/* ARTICLE */
/* ASIDE */
/* FOOTER */

/* GENERAL */
html {
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  color:white;
 
} 
*,*:before,*:after {
  box-sizing:inherit;
}
body {
  margin:0;
   background-color:black;
}
.page-wrapper {
  max-width:980px;
  margin:0 auto;
  background-color:#504747 ;
}
.hidden {
  position:absolute;
  left:-10000px;
}

/* HEADER */
#header
{
	background-color:#443a3a ;
	position:relative;
	display:block;
}
#logo
{
	width:150px;
	height:150px;
	top:0;
	padding:0.3em;
}
#header-nav
{
	float:right;
	width:68%;
	padding:3em;
}
#header-nav li
{
	list-style:none;
	display:inline;
}
#header-nav li a
{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#ebe8ee ;
	padding:0.8em;
}
#header-nav li a:hover
{
	color:#00ffd3 ;
}
/* MAIN */
main
{
	
	float:left;
	width:60%;
	margin-right:2%;
	padding:1em;
	font-size:14px;
	color:#ebe8ee;
}
h1
{
	font-family:Georgia;
	color:#8bffeb;
	font-weight:lighter;
}
.author-info
{
	font-style:italic;
	font-family:Georgia;
	
}
#main-img
{
	width:370px;
	height:200px;
	float:right;
}
.para a
{
	color:#00ffd3 ;
}
.para a:hover
{
	color:#8bffeb;
	text-decoration:none;
}
#about-author
{
	float:right;
	width:38%;
	margin-left:2%;
	margin-top:1em;
	font-family:Georgia;
	background-color:#00ffd3;
	color:#000000;
	border-radius:10px;
	padding:1em;
	font-size:14px;
}

#about-author div
{
	text-transform:uppercase;
	font-size:16px;
	border-bottom:1px solid #000000;
}
/* COMMENT SECTION */
#comment h2
{
	color:#beadfd;
	font-size:28px;
	font-weight:lighter;
	font-family:Georgia;
}
.comment-div
{
		border:1px solid #00ffd3;
		border-radius:10px;
		margin-bottom:1em;
		padding:0.5em;
		font-family:Georgia;
		font-style:italic;
}
.para1
{
	color:#8bffeb ;
}
.para2
{
	color:#ebe8ee;
}
 #aside-sec {
  border:1px dashed black;
}
/* ARTICLE */
#sidebar
{
	float:left;
	width:36%;
}
#art-sec
{
	border-radius:10px;
	margin-top:1em;
	padding:0.1em;
	margin-bottom:1em;
}
#art-sec h3
{
	text-transform:uppercase;
	background-color:#ff0078;
	margin:0;
	padding:0.5em;
	font-weight:lighter;
	font-family:Georgia;
	font-size:14px;
}
.article
{
	background-color:#ebe8ee;
	border-bottom:1px solid #ff0078;
	padding:0.4em;
	position:relative;
}
.article img
{
	width:40%;
	width:70px;
	height:70px;
}
#art-sec .article:last-child
{
	border-bottom:0;
}
.art-div
{
	margin-left:2%;
	width:58%;
	padding:0;
}
.article img,.art-div{
display:inline-block;
  vertical-align:middle;

}
.art-head a
{
	color:#8a00ff ;
	font-family:Georgia;
	font-size:20px;
	text-decoration:none;	
}
.art-head a:hover
{
	text-decoration:underline;
	color:#ff0078 ;
}
.art-text
{
	color:#000000 ;
	font-family:Georgia;
	font-size:12px;
	font-weight:bold;
	font-style:italic;
}
/* ASIDE */
#aside-sec
{
	border:1px solid #504747 ;
	border-radius:10px;
	position:relative;
}
#aside-sec h3
{
	text-transform:uppercase;
	background-color:#8a00ff ;
	margin:0;
	padding:0.5em;
	font-weight:lighter;
	font-family:Georgia;
	font-size:14px;
}
.aside-div
{
	background-color:#ebe8ee ;
	padding:0.5em;
	border-bottom:1px solid #8a00ff ; 
}
.aside-div a
{
	color:#8a00ff ;
	text-decoration:none;
	font-family:Georgia;
	font-size:14px;
}
.aside-div a:hover
{
	color:#ff0078 ;
	text-decoration:none;
}
/* FOOTER */
#footer
{
	clear:both;
	background-color:#443a3a ;
	padding:1em;
	font-family:Georgia;
	font-size:14px;
	color:#ebe8ee;
}