
/************************
* TABLE OF CONTENTS
*************************
* 1. GENERAL STYLE
* 2. HEADER
* 3. MAIN BLOCK
* 4. SIDEBAR ONE
* 5. SIDEBAR TWO
* 6. FOOTER
*/

/* 1. GENERAL STYLE */
html
{
	box-sizing:border-box;
}
*, *:before, *:after
{
  box-sizing:inherit;
}
body 
{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
}
.page
{
	max-width:980px;
	margin:0 auto;
}
.hidden
{
	position:absolute;
	left:-100000px;
}
/* 2. HEADER */
#header
{
	border-bottom:1px solid black;
	position:relative;
	margin-bottom:1em;
	padding:1em;
}
#logo
{
	margin-left:1.5em;
	height:100px;
	width:100px;
	
}
#navigate
{
	position:absolute;
	right:0;
	top:0;
}
#navigate li
{
	display:inline-block;
	margin-right:1em;
}
#navigate a
{
	text-decoration:none;
	font-weight:bolder;
	color:black;
	text-transform:uppercase;
}
#navigate a:hover
{
	color:#00a99d;
}

/* 3. MAIN BLOCK */
main
{
	margin-bottom:1em;
	width:65.75%;
	float:left;
	margin-right:2.5%;
	padding:1em;
}
#main-head
{
	color:#00a99d ;
	font-family:"Times New Roman" , Times, sarif; 
}
.name
{
	font-family:"Times New Roman" , Times, sarif;
}
.date
{
	font-family:"Times New Roman" , Times, sarif; 
}
.imgright 
{ 
  float:right;
  margin:0.8em 0.5em 0 0;
  width:320px;
}
.para1 a:link, .para2 a:link
{
	color:#474599;
}
.para1 a:hover, .para2 a:hover
{
	color:#fb145a;
	text-decoration:none;
	/*border-bottom:2px solid #ffd4e1;
	font-family:"Times New Roman" , Times, sarif; */
}
#comment-head
{
	font-family:"Times New Roman" , Times, sarif;
}
#comm-sec
{
	position:relative;
	float:left;
}
.comment
{
	border:1px solid #fb145a;
	background-color:#ffd4e1;
	margin-bottom:1em;
	width:100%;
	padding:1em;
	display:inline-block;
}
.div-head
{
	font-family:"Times New Roman" , Times, sarif;
	color:#fb145a;
	font-weight:bold;
	margin-bottom:0.5em;
}
.rollover
{
	color:#fb145a;
	text-decoration:none;
	border-bottom:2px solid #ffd4e1;
	font-family:"Times New Roman" , Times, sarif;
}

#right-bar
{
	width:31.75%;
	margin-bottom:1em;
	float:right;
	padding:1em;
	text-align:left;
}
#aside1,#aside2
{
	display:block;
	position:relative;
	margin-bottom:0.3em;
}
/* 4. SIDEBAR ONE */
#link-head
{
	margin:0;
    color:#fff;
    background-color:#fb145a ;
    text-transform:uppercase;
    font:1em normal Arial,Helvetica,sans-serif;
    padding:0.7em; 
}
#link-nav ul
{
	left:-50px;
}
#link-nav li
{
	list-style:none;
	border-bottom:1px solid #fb145a ;
	padding:0.7em;
	
}
#link-nav a
{
	text-decoration:none;
	color:#474599 ;
	font-family:"Times New Roman" , Times, sarif;
}
#link-nav a:hover
{
	color:#fb145a;
}

/* 5. SIDEBAR TWO */
#post-head
{
	margin:0;
    color:#fff;
    background-color:#474599  ;
    text-transform:uppercase;
    font:1em normal Arial,Helvetica,sans-serif;
    padding:0.7em; 
}
#blog-post
{
	display:inline-block;
}
#blog-post-img
{
	margin-top:8%;
	width:33%;
	margin-right:2.5%;
	float:left;
	height:120px;
}
.post
{
	width:64.5%;
	float:right;
	padding:0;
}
.post a
{
	text-decoration:none;
	color:#00a99d;
	font-family:"Times New Roman" , Times, sarif;
}

/* 6. FOOTER */
#footer
{
	clear:both;
	border-top:1px solid black;
	margin-top:1em;
	padding:1em;
}
